In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('datasets/tourism_india.xlsx', skiprows=range(1), skipfooter=13)

In [4]:
df.head()

,Period,Foreing Tourist Arrival,Percent of Share of India FTA,FEE(Foreign Exchange Earning from Tourism) (in Indian Rupees Million,Tourism Total Contribution to GDP (US$ Billion),Tourism contribution to GDP in Percent,Direct Contribution to GDP (in US$Billion),Government spending on Tourism (In US$ Billion) Real Price,Tourism contribution to Employment ('000 jobs),DOMESTIC TOURISM (in Million),...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1951,16829.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1955,33299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop(columns=['Plan Period', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'], inplace=True, axis=1)

In [6]:
df.tail(10)

,Period,Foreing Tourist Arrival,Percent of Share of India FTA,FEE(Foreign Exchange Earning from Tourism) (in Indian Rupees Million,Tourism Total Contribution to GDP (US$ Billion),Tourism contribution to GDP in Percent,Direct Contribution to GDP (in US$Billion),Government spending on Tourism (In US$ Billion) Real Price,Tourism contribution to Employment ('000 jobs),DOMESTIC TOURISM (in Million),Visa on Arrival,FEE (US$ Million)
57,2008,5282603.0,0.58,512940.0,128.3,10.2,27.05,0.163043,23676.5,563.03,NaN,11.832
58,2009,5167699.0,0.59,537000.0,121.2,9.8,27.48,0.190448,22495.9,668.80,NaN,11.136
59,2010,5775692.0,0.61,648890.0,149.8,9.4,29.40,0.205532,21717.9,747.70,NaN,14.193
60,2011,6309222.0,0.63,775910.0,168.0,9.3,31.53,0.221411,22045.7,863.53,6594.0,16.564
61,2012,6577745.0,0.63,944870.0,167.2,9.3,33.63,0.236503,22202.6,1045.05,12761.0,17.737
62,2013,6967601.0,0.64,1076710.0,171.5,9.2,35.54,0.262646,22471.2,1142.53,16083.0,18.445
63,2014,7679099.0,1.15,1233200.0,185.3,9.3,38.50,0.286256,23022.3,1282.80,20294.0,20.236
64,2015,8027133.0,1.12,1351930.0,194.7,9.4,41.58,0.293175,23454.4,1431.97,39048.0,21.071
65,2016,8804411.0,1.18,1541460.0,208.9,9.6,44.55,0.328453,24197.4,1613.55,445300.0,23.150
66,2017,10177000.0,NaN,1803790.0,NaN,NaN,NaN,NaN,NaN,NaN,1079696.0,NaN

In [9]:
df.set_index('Period')['Foreing Tourist Arrival']

Period
1951       16829.0
1952           NaN
1953           NaN
1954           NaN
1955       33299.0
           ...
2013     6967601.0
2014     7679099.0
2015     8027133.0
2016     8804411.0
2017    10177000.0
Name: Foreing Tourist Arrival, Length: 67, dtype: float64

In [8]:
df.columns

Index(['Period', 'Foreing Tourist Arrival', 'Percent of Share of India FTA ',
       'FEE(Foreign Exchange Earning from Tourism) (in Indian Rupees Million',
       'Tourism Total Contribution to GDP (US$ Billion)',
       'Tourism contribution to GDP in Percent',
       'Direct Contribution to GDP (in US$Billion)',
       'Government spending on Tourism (In US$ Billion) Real Price',
       'Tourism contribution to Employment ('000 jobs)',
       'DOMESTIC TOURISM (in Million)', 'Visa on Arrival',
       'FEE (US$ Million)'],
      dtype='object')